<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflow Simulation</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript"
            src="{{ url_for('static',filename='Experiments/UpdatesPerCollab/StrictModuleLocking/Scripts/updates_StrictModuleLocking_LinearW.js') }}"></script>

</head>
<body>

<h2> Workflow Simulation Script Running... </h2>
Number Of Collaborators : <p id="num_collabs">{{ num_collabs }}</p>

</body>
</html>
